@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-600 text-white py-3 px-6 rounded-full;
}

.flex-center {
  @apply flex justify-between items-center;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.index-services-bg {
  position: absolute;
  top: 5%;
  left: -35%;
  width: 100%;
  height: 100%;
  background-image: url(/img/services-bg-element.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}